* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
html {
  font-size: 62.5%;
}
.content {
  margin: auto;
}
.loading{
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.circle{
  flex: 1 1 50px;
  background: lightsalmon;
}
.circle:first-child{
  border-radius: 50px 0 0 0;
  animation: circle-1 1.5s ease-in-out alternate infinite;
}
.circle:nth-child(2){
  border-radius: 0 50px 0 0;
  animation: circle-2 1.5s ease-in-out alternate infinite;
}
.circle:nth-child(3){
  border-radius: 0 0 0 50px;
  animation: circle-3 1.5s ease-in-out alternate infinite;
}
.circle:last-child{
  border-radius: 0 0 50px 0;
  animation: circle-4 1.5s ease-in-out alternate infinite;
}
@keyframes circle-1 {
  100%{
    transform: translate(-25px,-25px) rotate(360deg);
    border-radius: 0;
  }
}
@keyframes circle-2 {
  100%{
    transform: translate(25px,-25px) rotate(-360deg);
    border-radius: 0;
  }
}
@keyframes circle-3 {
  100%{
    transform: translate(-25px,25px) rotate(-360deg);
    border-radius: 0;
  }
}
@keyframes circle-4 {
  100%{
    transform: translate(25px,25px) rotate(360deg);
    border-radius: 0;
  }
}